<header>
    <div class="header">
        <a routerLink=""><img src="assets/images/AroundTownLogo.png"></a>
    </div>
        <div class="topnav" id="topnav">
            <div class= "topnav-left">
                <a routerLink="">Home</a>
            </div>
        <div class="topnav-right">
            <a routerLink="/searchresults">Find Your Event</a>
            <a routerLink="/events">All Events</a>
            <a routerLink="/addevent">Create Event</a>
            <a routerLink="/adduser">Create Account</a>
        </div>
        </div>
</header>

  <div class='container-fluid' >  
    <div class='col-12'>  
        <ngb-carousel>  
            <ng-template ngbSlide>  
                <img [src]="images[0]" class="slideshow" alt="Delhi Metro">  
                <div class="carousel-caption">  
                    <h3></h3>  
                </div>  
            </ng-template>  
            <ng-template ngbSlide>  
                <img [src]="images[1]" class="slideshow" alt="Bangalore Metro">  
                <div class="carousel-caption">  
                    <h3></h3>  
                </div>  
            </ng-template>  
            <ng-template ngbSlide>  
                <img [src]="images[2]" class="slideshow" alt="Channai Metro">  
                <div class="carousel-caption">  
                    <h3></h3>  
                </div>  
            </ng-template> 
        </ngb-carousel>  
    </div>  
</div>  
