body {
    background-color: black;
}

table {
    font-family: 'Quicksand', sans-serif;
    color: #ddd;
    text-align: center;
}

th {
    color: #ff66c4;
    font-size: large;
    font-weight: 300;
}

.search-bar{
    font-family: 'Quicksand', sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    background-color: #333;
    color: #f2f2f2;
}





