<div>
    <div>
        <h4>Event Details</h4>
        <label for="name">Name</label>
        <p>{{ currentEvent.name }}</p>
    </div>
    <div>
        <label for="description">Description</label>
        <p>{{ currentEvent.description }}</p>
    </div>
    <div>
        <label for="location">location</label>
        <p>{{ currentEvent.location }}</p>
    </div>
    <div>
        <label for="date">Date</label>
        <p>{{ currentEvent.date }}</p>
    </div>
    <div>
        <label for="time">Time</label>
        <p>{{ currentEvent.time }}</p>
    </div>
    <div>
        <label for="entryCost">Cost</label>
        <p>{{ currentEvent.entryCost }}</p>
    </div>
    <div>
        <label for="familyFriendly">Family Friendly?</label>
        <p>{{ currentEvent.familyFriendly }}</p>
    </div>
</div>
