body {
    background-color: black;
}

table {
    font-family: 'Quicksand', sans-serif;
    color: #ddd;
    text-align: center;
}

th {
    color: #ff66c4;
    font-size: large;
    font-weight: 300;
}

h1 {
    font-family: 'Quicksand', sans-serif;
    color: #ddd;
    padding-top: 20px;
    padding-left: 10px;
}

