body {
    background-color: black;
}

table {
    font-family: 'Quicksand', sans-serif;
    color: #ddd;
    text-align: center;
}

th {
    color: #ff66c4;
    font-size: large;
    font-weight: 300;
}

h1, h2 {
    font-family: 'Quicksand', sans-serif;
    color: #ddd;
    margin: 0;
    padding-left: 20px;
    padding-bottom: 10px;
}

