<div>
    <div>
        <table>
            <thead>   
                <tr>
                    <th scope="col">Event Name</th>
                    <th scope="col">Event Description</th>
                    <th scope="col">Event Location</th>
                    <th scope="col">Event Date</th>
                    <th scope="col">Event Time</th>
                    <th scope="col">Event Cost</th>
                    <th scope="col">Family Friendly</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let event of alphabetizedByName">
                    <td>{{ event.name }}</td>
                    <td>{{ event.description }}</td>
                    <td>{{ event.locationName }}</td>
                    <td>{{ event.date }}</td>
                    <td>{{ event.time }}</td>
                    <td [hidden]="event.entryCost === '0'">${{ event.entryCost }}</td>
                    <td [hidden]="event.entryCost !== '0'">Free Entry!</td>
                    <td [hidden]="event.familyFriendly === false">Yes</td>
                    <td [hidden]="event.familyFriendly === true">No</td>
                    <td><button routerLink="/edit-events/{{event.eventId}}" routerLinkActive="active">Edit</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
