<div class="card my-5">
    <div class="card-body">
        <div >
            <p *ngIf="alphabetizedByName == 0">No events to display.</p>
        </div>
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">      
                <tr>
                    <th scope="col">Event</th>
                    <th scope="col">Description</th>
                    <th scope="col">Location</th>
                    <th scope="col">Date</th>
                    <th scope="col">Time</th>
                    <th scope="col">Cost</th>
                    <th scope="col">Family Friendly</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let event of alphabetizedByName">
                    <td>{{ event.name }}</td>
                    <td>{{ event.description }}</td>
                    <td>{{ event.location }}</td>
                    <td>{{ event.date }}</td>
                    <td>{{ event.time }}</td>
                    <td [hidden]="event.entryCost === '0'">${{ event.entryCost }}</td>
                    <td [hidden]="event.entryCost !== '0'">Free Entry!</td>
                    <td [hidden]="event.familyFriendly === false"><fa-icon [icon]="faThumbsUp"></fa-icon></td>
                    <td [hidden]="event.familyFriendly === true"><fa-icon [icon]="faThumbsDown"></fa-icon></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
