<div class="header"><img src="assets/images/AroundTownLogo.png"></div>
<div class="topnav" id="topnav">
  <div class="topnav-right">
    <a routerLink="/events">List Events</a>
    <a routerLink="/addevent">Create Event</a>
    <a routerLink="/adduser">Create Account</a>
  </div>
</div>
<div class="hero-image">
  <div class="hero-text">
    
  </div>
</div>
<router-outlet></router-outlet>


<!-- <div class="container">
  <div class=row>
    <div class="col-md-12">
      <div class="card bg-dark my-5">
        <div class="card-body">
          <h2 class="card-title text-center text-white py-3">{{ title }}</h2>
          <ul class="text-center list-inline py-3">
            <li class="list-inline-item">
              <a routerLink="/events" class="btn btn-info">List Events</a>
            </li>
            <li class="list-inline-item">
              <a routerLink="/addevent" class="btn btn-info">Create Event</a>
            </li>
            <li class="list-inline-item">
              <a routerLink="/adduser" class="btn btn-info">Create Account</a>
            </li>
          </ul>
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div> -->

