<div>
    <h1>Register</h1>
    <h2>Enter your information below to start your journey AroundTown!</h2>
</div>

<div class="card my-5">
    <div class="card-body">
        <form (ngSubmit)="onSubmit(user.pwHash, user.confirmPassword)" #userForm="ngForm">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" [(ngModel)]="user.name"
                    class="form-control"
                    id="name"
                    name="name"
                    placeholder="Enter your name"
                    required #name="ngModel">
            
            <div [hidden]="name.pristine || !!name.value" class="alert alert-danger">Name is required</div>
            </div>  

            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" [(ngModel)]="user.email" (keyup)="confirmEmail(user.email)"
                    class="form-control"
                    id="email"
                    name="email"
                    placeholder="Email address"
                    required #email="ngModel">
            
            <div [hidden]="emailAvailable" class="alert alert-danger">An account already exists using this email.</div>
            <div [hidden]="email.pristine || !!email.value" class="alert alert-danger">Email is required</div>
            </div>

            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" [(ngModel)]="user.username"
                    class="form-control"
                    id="username"
                    name="username"
                    placeholder="Enter Username"
                    required #username="ngModel">
            <div [hidden]="username.pristine || !!username.value" class="alert alert-danger">Username is required</div>
            </div>

            <div class="form-group">
                <label for="pwHash">Password</label>
                <input type="password" [(ngModel)]="user.pwHash"
                    class="form-control"
                    id="pwHash"
                    name="pwHash"
                    placeholder="Enter Password"
                    required #pwHash="ngModel"
                    (keyup)="true">
            </div> 
            <div [hidden]="pwHash.pristine || !!pwHash.value" class="alert alert-danger">Password is required</div>
            
            
            <div class="form-group">
                <label for="confirmPassword">Confirm Password</label>
                <input type="password" [(ngModel)]="user.confirmPassword"
                    class="form-control"
                    id="confirmPassword"
                    name="confirmPassword"
                    placeholder="Re-Enter Password"
                    required #confirmPassword="ngModel"
                    (keyup)="true">
            </div>
            <div [hidden]="user.pwHash === user.confirmPassword" class="alert alert-danger">Passwords must match!</div>
            
            <button type="submit" [disabled]="!userForm.form.valid && emailAvailable"
                class="btn btn-info">Submit</button>
        </form>
        <div class="container signin">
            <p>Already have an account? <a href="#">Sign in</a>.</p>
        </div>
    </div>
</div>
