<header>
    <div class="header">
        <a routerLink=""><img src="assets/images/AroundTownLogo.png"></a>
    </div>
        <div class="topnav" id="topnav">
            <div>
                <a routerLink="">Home</a>
            </div>
        <div class="topnav-right">
            <a routerLink="searchresults">Find Your Event</a>
            <a routerLink="/events">All Events</a>
            <a routerLink="/addevent">Create Event</a>
            <a routerLink="/adduser">Create Account</a>
        </div>
        </div>
        <div class="hero-image">
            <div class="hero-text font-effect-neon">
                <h1>Let's find your next event AroundTown!</h1>
            </div>
        </div>  
</header>