<div>
    <h1>Create Your Event!</h1>
    <h2>Enter your event information below to be featured AroundTown!</h2>
  </div>
      <form (ngSubmit)="onSubmit()" #eventForm="ngForm">
       
        <div class="form-row align-items-center">
        <div class="col-sm-6">
          <label for="name">Event Name: </label>
          <input type="text" [(ngModel)]="event.name" 
            class="form-control"
            id="name" 
            name="name" 
            placeholder="Enter Event Name"
            required #name="ngModel">
        </div>
        <div class="col-sm-6">
          <label for="location">Event Location: </label>
          <input type="text" [(ngModel)]="event.locationName" 
            class="form-control"
            id="location" 
            name="location" 
            placeholder="Enter Event Location"
            required #locationName="ngModel">
        </div>
      </div>

        <div class="form-group">
          <label for="description">Event Description: </label>
          <input type="text" [(ngModel)]="event.description" 
            class="form-control"
            id="description" 
            name="description" 
            placeholder="Enter Event Description"
            required #description="ngModel">
        </div>

        <div class="form-row align-items-center">
          <div class="col-sm-6">
            <label for="date">Event Date: </label>
            <input type="text" [(ngModel)]="event.date" 
              class="form-control"
              id="date" 
              name="date"
              placeholder="Enter Event Date"
              required #date="ngModel">
          </div>
          <div class="col-sm-6">
            <label for="time">Event Time: </label>
            <input type="text" [(ngModel)]="event.time" 
              class="form-control"
              id="time" 
              name="time" 
              placeholder="Enter Event Time"
              required #time="ngModel">
          </div>
        </div>

          <div class="form-group">
            <label for="entryCost">Event Entry Cost: </label>
            <input type="text" [(ngModel)]="event.entryCost" 
              class="form-control"
              id="entryCost" 
              name="entryCost" 
              placeholder="Enter Event Entry Cost"
              required #entryCost="ngModel">
          </div>

          <div class="form-group">
            <label for="familyFriendly">Family Friendly: </label>
            <input style="margin-left:10px" type="checkbox" [(ngModel)]="event.familyFriendly" 
              id="familyFriendly" 
              name="familyFriendly" 
              checked="checked"              
              #familyFriendly="ngModel">
          </div>
      

        <button type="submit" [disabled]="!eventForm.form.valid" 
          class="btn btn-info">Submit</button>
      </form>
    <!-- </div>
  </div> -->

