form{
    background-color: black;
    font-family: 'Quicksand', sans-serif;
    color: #ddd;
    padding: 20px;
}

h1, h2 {
    margin: 0;
    background-color: black;
    font-family: 'Quicksand', sans-serif;
    color: #ddd;
    padding-left: 20px;

label {
    margin-right: 10px;
}

ngb-timepicker {
    float: right;
}