<div class="card my-5">
    <div class="card-body">
      <form (ngSubmit)="onSubmit()" #eventForm="ngForm">

        <div class="form-group">
          <label for="name">Event Name: </label>
          <input type="text" [(ngModel)]="event.name" 
            id="name" 
            name="name" 
            placeholder="Enter Event Name"
            required #name="ngModel"
            maxlength="100"
            minlength="1">
          <div [hidden]="name.pristine || !!name.value" class="alert alert-danger">Event Name is required</div>
          <div [hidden]="!name.errors?.maxlength" class="alert alert-danger">
          Event name cannot be more than 100 characters long.
          </div>
          <div [hidden]="!name.errors?.minlength" class="alert alert-danger">
          Event name field must have at least one character.
          </div>
        </div>
        
        <div class="form-group">
          <label for="description">Event Description: </label>
          <input type="text" [(ngModel)]="event.description" 
            id="description" 
            name="description" 
            placeholder="Enter Event Description"
            required #description="ngModel"
            required minlength="1"
            required maxlenght="500">
          <div [hidden]="description.pristine || !!description.value" class="alert alert-danger">Description is required
          </div>
          <div [hidden]="!description.errors?.minlength" class="alert alert-danger">
            Event description field must have at least one character.
          </div>
          <div [hidden]="!description.errors?.maxlength" class="alert alert-danger">
            Event description cannot be more than 500 characters long.
          </div>
        </div>

        <div class="form-group">
            <label for="location">Event Location: </label>
            <input type="text" [(ngModel)]="event.location" 
           
              id="location" 
              name="location" 
              placeholder="Enter Event Location"
              required #location="ngModel"
              required minlength="1"
              required maxlength="100">
            <div [hidden]="location.pristine || !!location.value" class="alert alert-danger">Location is required</div>
            <div [hidden]="!location.errors?.minlength" class="alert alert-danger">
              Event location must have at least one character.
            </div>
            <div [hidden]="!location.errors?.maxlength" class="alert alert-danger">
              Event location cannot be more than 100 characters long.
            </div>
        </div>

          <div class="form-group">
            <label for="date">Event Date: </label>
            <input type="text" [(ngModel)]="event.date" 
             
              id="date" 
              name="date"
              placeholder="Enter Event Date"
              required #date="ngModel">
              <div [hidden]="date.pristine || !!date.value" class="alert alert-danger">Date is required</div>
          </div>

          <div class="form-group">
            <label for="time">Event Time: </label>
            <input type="text" [(ngModel)]="event.time" 
             
              id="time" 
              name="time" 
              placeholder="Enter Event Time"
              required #time="ngModel"
              required maxlength="8"
              required minlength="4">
              <div [hidden]="time.pristine || !!time.value" class="alert alert-danger">Time is required
              </div>
              <div [hidden]="!time.errors?.maxlength" class="alert alert-danger">
                Time cannot be more than 8 characters long.
              </div>
              <div [hidden]="!time.errors?.minlength" class="alert alert-danger">
                Time must have at least 4 characters.
              </div>
          </div>


          <div class="form-group">
            <label for="entryCost">Event Entry Cost: </label>
            <input type="text" [(ngModel)]="event.entryCost" 
            
              id="entryCost" 
              name="entryCost" 
              placeholder="Enter Event Entry Cost"
              required #entryCost="ngModel"
              required minlength="1"
              required maxlength="8">
              <div [hidden]="entryCost.pristine || !!entryCost.value" class="alert alert-danger">Entry Cost is required
              </div>
              <div [hidden]="!entryCost.errors?.maxlength" class="alert alert-danger">
                Cost cannot be more than 8 characters long.
              </div>
              <div [hidden]="!entryCost.errors?.minlength" class="alert alert-danger">
                Cost must have at least 1 character.
              </div>
          </div>

          <div class="form-group">
            <label for="familyFriendly">Family Friendly: </label>
            <input type="checkbox" [(ngModel)]="event.familyFriendly" 
          
              id="familyFriendly" 
              name="familyFriendly" 
              checked="checked"              
              #familyFriendly="ngModel">
          </div>

        <button type="submit" [disabled]="!eventForm.form.valid" 
          class="btn btn-info">Submit</button>
      </form>
    </div>
  </div>

