<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="card">
  <img src="assets/images/profile.jpg" alt="{{ user.name }}" style="width:100%">
  <h1 class="name">Name</h1>
    <h2 class="username">username</h2>
    <h2 class="email">email</h2>

    <!-- In case we want to add social links -->
    <!-- <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-linkedin"></i></a>
    <a href="#"><i class="fa fa-facebook"></i></a> -->

    <!-- would be cool to have list of their created events here -->
  <p><button href="#">Log Out</button></p>
</div>